<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="icu.one.mapper.TreatmentRecordMapper">
    <!-- 查询患者治疗记录 -->
    <select id="getTreatmentRecordsByPatientId" >
        SELECT * FROM treatment_records 
        WHERE patient_id = #{patientId} 
        ORDER BY treatment_time DESC
    </select>

    <!-- 添加治疗记录 -->
    <insert id="addTreatmentRecord" useGeneratedKeys="true" keyProperty="treatmentId">
        INSERT INTO treatment_records(
            patient_id,
            treatment_time,
            treatment_type,
            doctor_id,
            content,
            outcome
        ) VALUES (
            #{patientId},
            #{treatmentTime},
            #{treatmentType},
            #{doctorId},
            #{content},
            #{outcome}
        )
    </insert>

</mapper>
