<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="icu.one.mapper.UserMapper">

    <!-- 查询所有用户 -->
    <select id="selectAllUsers" >
        SELECT * FROM users ORDER BY user_id
    </select>

    <!-- 根据角色查询用户 -->
    <select id="getUsersByRole" >
        SELECT * FROM users WHERE role = #{role} AND status = '启用'
    </select>

    <!-- 用户登录验证 -->
    <select id="login" >
        SELECT * FROM users 
        WHERE username = #{username} AND password = #{password} AND status = '启用'
    </select>

</mapper>
